<div class="footer">
  <hr>
  <div class='csvdl'><%= link_to('CSVをダウンロード', csv_download_path(format: 'csv', year: date.year)) %></div>
  <div class='logout'><%= link_to('ログアウト', logout_path)%></div>
</div>
