body {
  margin: 0;
  padding: 0;
  background: #FFFEF2;
}
h1.title {
  display: inline-block;
  margin-top: 2%;
  margin-left: 3%;
  font-size: 2em;
}

label {
  margin: 5px;
  margin-left: 3%;
  font-size: 1.2em;
}

input[type=text], input[type=password] {
  margin: 5px;
  margin-left: 3%;
  width: 20em;
  padding: 10px 15px;
  font-size: 1.2em;
  border-radius: 3px;
  border: 2px solid #ddd;
}

input[type=submit] {
  margin: 5px;
  margin-left: 3%;
  padding: 5px;
  width: 10em;
}

a[href='/'] {
  margin-left: 3%;
}
